CRPass/CRPass.DO/bin/Debug/netcoreapp3.1/CRPass.DO.dll
CRPass/CRPass.DO/bin/Debug/netcoreapp3.1/CRPass.DO.pdb
CRPass/CRPass.DO/bin/Debug/netcoreapp3.1/CRPass.DO.runtimeconfig.dev.json
CRPass/CRPass.DO/obj/CRPass.DO.csproj.nuget.cache
CRPass/CRPass.DO/obj/CRPass.DO.csproj.nuget.dgspec.json
CRPass/CRPass.DO/obj/CRPass.DO.csproj.nuget.g.props
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.assets.cache
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.csproj.FileListAbsolute.txt
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.csprojAssemblyReference.cache
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.dll
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.pdb
