CRPass/CRPass.DO/bin/Debug/netcoreapp3.1/CRPass.DO.dll
CRPass/CRPass.DO/bin/Debug/netcoreapp3.1/CRPass.DO.pdb
CRPass/CRPass.DO/bin/Debug/netcoreapp3.1/CRPass.DO.runtimeconfig.dev.json
CRPass/CRPass.DO/obj/CRPass.DO.csproj.nuget.cache
CRPass/CRPass.DO/obj/CRPass.DO.csproj.nuget.dgspec.json
CRPass/CRPass.DO/obj/CRPass.DO.csproj.nuget.g.props
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.assets.cache
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.csproj.FileListAbsolute.txt
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.csprojAssemblyReference.cache
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.dll
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.pdb
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.pdb~783c7231e94a404342ce04e46db7855160dd9c68
CRPass/CRPass.DO/obj/Debug/netcoreapp3.1/CRPass.DO.dll~783c7231e94a404342ce04e46db7855160dd9c68
CRPass/CRPass.DO/obj/Debug/
CRPass/.vs/CRPass/v16/
CRPass/CRPass.BS/obj/Debug/
CRPass/CRPass.DAL.EF/obj/Debug/netcoreapp3.1/CRPass.DAL.EF.csprojAssemblyReference.cache
CRPass/CRPass.DAL.EF/obj/Debug/netcoreapp3.1/CRPass.DAL.EF.dll
CRPass/CRPass.DAL.EF/obj/Debug/netcoreapp3.1/CRPass.DAL.EF.pdb
CRPass/CRPass.DAL/obj/project.assets.json
CRPass/CRPass.DAL/obj/CRPass.DAL.csproj.nuget.cache
CRPass/CRPass.DAL/obj/Debug/netcoreapp3.1/CRPass.DAL.assets.cache
CRPass/CRPass.DAL/obj/Debug/
CRPass/CRPass.API/obj/project.assets.json
CRPass/CRPass.API/obj/CRPass.API.csproj.nuget.g.props
CRPass/CRPass.API/obj/CRPass.API.csproj.nuget.dgspec.json
CRPass/CRPass.API/obj/Debug/netcoreapp3.1/CRPass.API.MvcApplicationPartsAssemblyInfo.cs
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/appsettings.json
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.API.deps.json
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.API.dll
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.API.exe
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.API.pdb
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.API.runtimeconfig.dev.json
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.API.runtimeconfig.json
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.BS.dll
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.BS.pdb
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.DAL.dll
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.DAL.EF.dll
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.DAL.EF.pdb
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.DAL.pdb
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.DAL.Repository.dll
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.DAL.Repository.pdb
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.DO.dll
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/CRPass.DO.pdb
CRPass/CRPass.BS/obj/CRPass.BS.csproj.nuget.dgspec.json
CRPass/CRPass.BS/obj/CRPass.BS.csproj.nuget.g.props
CRPass/CRPass.BS/obj/project.assets.json
CRPass/CRPass.DAL.EF/bin/Debug/netcoreapp3.1/CRPass.DAL.EF.dll
CRPass/CRPass.DAL.EF/bin/Debug/netcoreapp3.1/CRPass.DAL.EF.pdb
CRPass/CRPass.DAL.EF/bin/Debug/netcoreapp3.1/CRPass.DAL.EF.runtimeconfig.dev.json
CRPass/CRPass.DAL.EF/bin/Debug/netcoreapp3.1/CRPass.DO.dll
CRPass/CRPass.DAL.EF/bin/Debug/netcoreapp3.1/CRPass.DO.pdb
CRPass/CRPass.DAL.Repository/obj/CRPass.DAL.Repository.csproj.nuget.dgspec.json
CRPass/CRPass.DAL.Repository/obj/CRPass.DAL.Repository.csproj.nuget.g.props
CRPass/CRPass.DAL.Repository/obj/project.assets.json
CRPass/CRPass.DAL.Repository/obj/Debug/netcoreapp3.1/CRPass.DAL.Repository.assets.cache
CRPass/CRPass.DAL.Repository/obj/Debug/netcoreapp3.1/CRPass.DAL.Repository.csprojAssemblyReference.cache
CRPass/CRPass.DAL.Repository/obj/Debug/netcoreapp3.1/CRPass.DAL.Repository.dll
CRPass/CRPass.DAL.Repository/obj/Debug/netcoreapp3.1/CRPass.DAL.Repository.pdb
CRPass/CRPass.DAL.Repository/bin/Debug/netcoreapp3.1/CRPass.DAL.EF.dll
CRPass/CRPass.DAL.Repository/bin/Debug/netcoreapp3.1/CRPass.DAL.EF.pdb
CRPass/CRPass.DAL.Repository/bin/Debug/netcoreapp3.1/CRPass.DAL.Repository.dll
CRPass/CRPass.DAL.Repository/bin/Debug/netcoreapp3.1/CRPass.DAL.Repository.pdb
CRPass/CRPass.DAL.Repository/bin/Debug/netcoreapp3.1/CRPass.DAL.Repository.runtimeconfig.dev.json
CRPass/CRPass.DAL.Repository/bin/Debug/netcoreapp3.1/CRPass.DO.dll
CRPass/CRPass.DAL.Repository/bin/Debug/netcoreapp3.1/CRPass.DO.pdb
CRPass/CRPass.DO/obj/
CRPass/CRPass.DAL/obj/
CRPass/CRPass.BS/bin/
CRPass/CRPass.API/CRPass.API.csproj.user
CRPass/.vs/
CRPass/CRPass.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
CRPass/CRPass.API/bin/
CRPass/CRPass.API/obj/
CRPass/CRPass.DAL.EF/obj/
