USE [master]
GO
/****** Object:  Database [CRPass]    Script Date: 13/3/2021 01:22:47 ******/
CREATE DATABASE [CRPass]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRPass', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\CRPass.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRPass_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\CRPass_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRPass].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRPass]
GO
/****** Object:  Table [dbo].[Boleteria]    Script Date: 13/3/2021 01:22:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boleteria](
	[CodBoleteria] [int] IDENTITY(1,1) NOT NULL,
	[CodEmpresa] [int] NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[Costo] [int] NOT NULL,
 CONSTRAINT [PK_Boleteria] PRIMARY KEY CLUSTERED 
(
	[CodBoleteria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoleteriaReservados]    Script Date: 13/3/2021 01:22:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoleteriaReservados](
	[CodBoletaReservado] [int] IDENTITY(1,1) NOT NULL,
	[CodBoleteria] [int] NOT NULL,
	[CodTickets] [int] NOT NULL,
	[Cantidad] [int] NULL,
 CONSTRAINT [PK_BoleteriaReservados] PRIMARY KEY CLUSTERED 
(
	[CodBoletaReservado] ASC,
	[CodBoleteria] ASC,
	[CodTickets] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlAforo]    Script Date: 13/3/2021 01:22:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlAforo](
	[CodControl] [int] IDENTITY(1,1) NOT NULL,
	[CodEmpresa] [int] NOT NULL,
	[NumeroDia] [int] NOT NULL,
	[NumeroAforo] [int] NOT NULL,
 CONSTRAINT [PK_ControlAforo] PRIMARY KEY CLUSTERED 
(
	[CodControl] ASC,
	[CodEmpresa] ASC,
	[NumeroDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 13/3/2021 01:22:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[CodEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Ubicacion] [nvarchar](max) NOT NULL,
	[ReservasUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[CodEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicidad]    Script Date: 13/3/2021 01:22:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicidad](
	[CodPublicidad] [int] NOT NULL,
	[CodEmpresa] [int] NOT NULL,
	[RutaArchivo] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 13/3/2021 01:22:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[CodTicket] [int] NOT NULL,
	[NReserva] [nvarchar](6) NOT NULL,
	[Usuario] [nvarchar](10) NOT NULL,
	[CodEmpresa] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Estado] [int] NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[CodTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/3/2021 01:22:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Usuario] [nvarchar](10) NOT NULL,
	[Contrasena] [nvarchar](100) NOT NULL,
	[Tipo] [bit] NOT NULL,
	[CodEmpresa] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](150) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boleteria]  WITH CHECK ADD  CONSTRAINT [FK_Boleteria_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[Boleteria] CHECK CONSTRAINT [FK_Boleteria_Empresa]
GO
ALTER TABLE [dbo].[BoleteriaReservados]  WITH CHECK ADD  CONSTRAINT [FK_BoleteriaReservados_Boleteria] FOREIGN KEY([CodBoleteria])
REFERENCES [dbo].[Boleteria] ([CodBoleteria])
GO
ALTER TABLE [dbo].[BoleteriaReservados] CHECK CONSTRAINT [FK_BoleteriaReservados_Boleteria]
GO
ALTER TABLE [dbo].[BoleteriaReservados]  WITH CHECK ADD  CONSTRAINT [FK_BoleteriaReservados_Tickets] FOREIGN KEY([CodTickets])
REFERENCES [dbo].[Tickets] ([CodTicket])
GO
ALTER TABLE [dbo].[BoleteriaReservados] CHECK CONSTRAINT [FK_BoleteriaReservados_Tickets]
GO
ALTER TABLE [dbo].[ControlAforo]  WITH CHECK ADD  CONSTRAINT [FK_ControlAforo_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[ControlAforo] CHECK CONSTRAINT [FK_ControlAforo_Empresa]
GO
ALTER TABLE [dbo].[Publicidad]  WITH CHECK ADD  CONSTRAINT [FK_Publicidad_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[Publicidad] CHECK CONSTRAINT [FK_Publicidad_Empresa]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empresa] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[Empresa] ([CodEmpresa])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empresa]
GO
USE [master]
GO
